<div class="loop-item-wrap{{#if @first}} loop-item-first{{#is "paged"}} is-paged{{/is}}{{/if}}{{#if feature_image}} is-image{{else}} no-image{{/if}}">
	<article class="loop-item{{#if feature_image}} is-image{{else}} no-image{{/if}}">
		{{#if feature_image}}
		<div data-aos="fade-in" class="loop-item-image blog-image" style="background-image: url({{feature_image}})">
		</div>
		{{/if}}
		<h2 class="blog-detail-hover"><a href="{{url}}">{{title}}</a></h2>
		{{#if custom_excerpt}}
		<div class="loop-excerpt blog-excerpt">
			{{>icons/blog/zigzag}}
			{{{custom_excerpt}}}
		</div>
		{{/if}}
		<div class="blog-meta">
			{{t "by"}}
			{{#has author="count:1"}}
			{{authors}}
			{{else has author="count:2"}}
			{{authors separator=(t " & ")}}
			{{else has author="count:>2"}}
			{{authors limit="1"}}
			{{t "and others"}}
			{{/has}}
			<time datetime="{{date format="YYYY-MM-DD"}}">— {{date published_at timeago="true"}}</time>
			{{#if tags}}
			<div class="blog-tags-wrap">
				{{#foreach tags}}
				<a class="blog-tags blog-tag blog-detail-bg" href="{{url}}">{{name}}</a>
				{{/foreach}}
			</div>
			{{/if}}
		</div>
	</article>
</div>