{{!< default}}
{{#post}}
{{#contentFor "is_membership"}} is-membership{{/contentFor}}
{{^if @site.cover_image}}
{{#contentFor "is_cover_image"}}
{{#if feature_image}} is-cover{{/if}}
{{/contentFor}}
{{/if}}
{{#contentFor "cover_image"}}
{{#if feature_image}}
<div class="blog-cover membership-cover" style="background-image: url({{feature_image}})"></div>
{{/if}}
{{/contentFor}}
{{#if @member.paid}}
<div class="section-membership section-author-tag">
    <div class="membership-content">
        <h1>{{#if @member.name}}{{@member.name}}{{else}}{{t "Your account"}}{{/if}}</h1>
        {{#foreach @member.subscriptions}}
        {{#if cancel_at_period_end}}
        <p>{{t "Your subscription will expire on"}} — {{date current_period_end format="DD MMMM YYYY"}}</p>
        <span>
            {{t "If you change your mind in the meantime you can turn auto-renew back on to continue your subscription."}}
        </span>
        {{else}}
        <p>{{t "Nice, you're a paying subscriber!"}}</p>
        <span>
            {{t "You've an active account with access to all areas. You're all set, but if you need any help, get in touch with me and I'd be happy to help."}}
        </span>
        {{/if}}
        <div class="subscriber-details">
            <div class="blog-flex">
                <div class="subscriber-detail-column one">
                    <div>
                        <label class="subscriber-heading">{{t "Email address"}}</label>
                        <span class="subscriber-content">{{@member.email}}</span>
                    </div>
                    <div>
                        <label class="subscriber-heading">{{t "Your plan"}}</label>
                        <span class="subscriber-content">{{tier.name}} — {{price plan}}/{{plan.interval}}</span>
                    </div>
                </div>
                <div class="subscriber-detail-column two">
                    <div>
                        <label class="subscriber-heading">{{t "Card"}}</label>
                        <span class="subscriber-content">**** **** **** {{default_payment_card_last4}}</span>
                    </div>
                    <div>
                        <label class="subscriber-heading">
                            {{#if cancel_at_period_end}}
                            {{t "Expires"}}
                            {{else}}
                            {{t "Next bill date"}}
                            {{/if}}
                        </label>
                        <span class="subscriber-content">{{date current_period_end format="DD MMM YYYY"}}</span>
                    </div>
                </div>
                <div class="subscriber-cancel">
                    <a class="subscriber-billing-button blog-button blog-detail-bg" href="javascript:" data-portal="account">
                        {{t "Account settings"}}
                    </a>
                    {{cancel_link class="subscriber-cancel-button blog-button blog-detail-bg" errorClass="subscriber-cancel-error" cancelLabel=(t "Cancel subscription") continueLabel=(t "Continue subscription")}}
                </div>
            </div>
        </div>
        {{/foreach}}
    </div>
</div>
{{#get "posts" limit="4" filter="visibility:[paid,tiers]" include="authors,tags" as |paid-posts|}}
{{#if paid-posts}}
<div class="section-loop">
    <span class="membership-heading">
        {{t "The latest posts only for paying subscribers"}}
    </span>
    <div class="loop-wrap blog-flex">
        {{#foreach paid-posts visibility="paid,tiers"}}
        {{>loop_item}}
        {{/foreach}}
    </div>
</div>
{{/if}}
{{/get}}
{{else if @member}}
<div class="section-membership section-author-tag">
    <div class="membership-content">
        <h1>{{#if @member.name}}{{@member.name}}{{else}}{{t "Your account"}}{{/if}}</h1>
        <p>{{t "Currently, you're not a paying subscriber."}}</p>
        <span>
            {{t "You've an active account with access to posts for subscribers only. Upgrade your account and get access to the full library of posts."}}
        </span>
        <div class="subscriber-details">
            <div class="blog-flex">
                <div class="subscriber-detail-column one">
                    <div>
                        <label class="subscriber-heading">{{t "Email address"}}</label>
                        <span class="subscriber-content">{{@member.email}}</span>
                    </div>
                </div>
                <div class="subscriber-detail-column two">
                    <div>
                        <label class="subscriber-heading">{{t "Your plan"}}</label>
                        <span class="subscriber-content">{{t "Free"}}</span>
                    </div>
                </div>
                <div class="subscriber-cancel">
                    <a class="subscriber-billing-button blog-button blog-detail-bg" href="javascript:" data-portal="account">
                        {{t "Account settings"}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{>members/tiers}}
{{else}}
<script>
window.addEventListener("load", function(event) {
    window.location = '{{@site.url}}';
})
</script>
{{/if}}
{{/post}}
<script>
const accountPage = document.querySelector(".members-account span");
      accountPage.classList.add("is-active")
</script>